@media (min-width: 768px) and (max-width: 992px) {
  .upper-header {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  .search-section {
    display: flex;
    gap: 20px;
  }
  .search-section h1 {
    font-size: 15px;
  }
  .search-section p {
    font-size: 15px;
  }
  .courses-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #category {
    padding: 10px 20px;
  }
  #inp {
    padding: 8px 20px;
  }
  .courses-btn {
    padding: 8px 20px;
  }
  .register-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .register-btn {
    padding: 4px 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .upper-header {
    display: flex;
    flex-direction: column;
  }
  .upper-header-left {
    display: flex;
    flex-direction: column;
  }
  .nav-list {
    display: none !important;
  }

  .fa-bars {
    display: block !important;
  }
  .courses-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .feel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .register-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form-group input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 60px 5px 0px;
  }
  .register-btn {
    padding: 2px 12px;
  }
}

@media (max-width: 576px) {
  .upper-header {
    display: flex;
    flex-direction: column;
  }
  .upper-header-left {
    display: flex;
    flex-direction: column;
  }
  .header-right ul {
    display: none;
  }

  .nav-list {
    display: none !important;
  }

  .fa-bars {
    display: block !important;
  }

  .search-section {
    display: flex;
    gap: 20px;
  }
  .search-section h1 {
    font-size: 15px;
  }
  .search-section p {
    font-size: 15px;
  }
  .courses-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #category {
    padding: 10px 20px;
  }
  #inp {
    padding: 8px 20px;
  }
  .courses-btn {
    padding: 8px 20px;
  }
  .feel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .register-inp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form-group input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 40px 4px 0px;
  }
  .register-btn {
    padding: 1px 10px;
  }
}
